$bg_color: #fbf1c7;
$bg1_color: #ebdbb2;
$bg2_color: #d5c4a1;
$bg4_color: #a89984;
$fg_color: #3c3836;
$fg0_color: #282828;
$fg4_color: #7c6f64;

$blue1: #458588;
$blue2: #076678;
$aqua1: #8ec07c;
$aqua2: #689d6a;
$purple2: #8f3f71;

$font_size: 24px;
$nav_bottom_border_width: 2px;

$test_border_size: 0px; // make this visible to see where the elements lay
